body {
	margin: 0;
	padding: 0;
	
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	font-family: "Cuprum", "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	background-color: #ffffff;
	color: #000000;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Button ================================== */

.btn {
	display: inline-block;

	padding: 10px 55px;
	margin-right: 24px;
	
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;

	text-transform: uppercase;
	border-radius: 3px;
	cursor: pointer;

	color: #ffffff;
	background-color: #ee3643;

	transition-property: background-color;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.sleder-btn {
	margin-right: 0;
	margin-left: 25px;
	padding: 12px 48px;	
}

.services-btn {
	margin-right: 0;
	padding: 12px 45px;
}

.company-btn {
	padding: 10px 40px;
	margin: 0;
}

.contacts-btn {
	padding: 10px 61.5px;
	margin: 0;
}

.filter-btn {
	padding: 11px 40px;
	margin-bottom: 20px;

	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;

	color: #000000;
	background-color: #ffffff;

	border: 1px solid #e5e5e5;
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: #ffffff;
	border-color: #bdc6ca;
}

.filter-btn:active {
	background-color: #ffffff;
	border-color: #ee3643;
}

/* Header ================================== */

.header {
	width: 100%;
	margin-bottom: 60px;

	background-color: #f3f7f8;
}

.header-top-background {
	width: 100%;
	margin-bottom: 46px;

	background-color: #293449;	
}

.header-top-flex {
	display: flex;
	align-items: flex-start;
}

/* ========== header-top-logo ========== */

.header-top-logo {	
	position: relative;

	margin: 0;
	padding: 0;

	list-style: none;
}

/* header-logo */

.header-logo {
	width: 220px;
	height: 42px;
}

.header-logo a {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	width: 220px;
	padding: 11.5px 0;
	
	font-family: "Cuprum", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;

	text-transform: uppercase;
	text-align: center;

	box-shadow: inset 0 -5px 0 0 #b52933; 
	background-color: #ee3643;
	color: #ffffff;

	transition-property: box-shadow, background-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-logo a:hover,
.header-logo a:focus {
	box-shadow: inset 0 -5px 0 0 #9a212a; 
	background-color: #ca2c37;
}

.header-logo a:active {
	box-shadow: inset 0 -5px 0 0 #8e1e26; 
	background-color: #ba2732;
}

/* ========== header-top-navigation ========== */

.header-top-navigation {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

/*  header-search */

.header-search {
	width: 270px;
}

.header-search input {
	width: 100%;
	padding: 12px 13px 12px 49px;

	font-family: "Cuprum", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;

	background-color: transparent;
	color: #ffffff;

	border: 0;
	box-sizing: border-box;

	transition-property: background-color, background-image;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-search .search-icon {
	background-image: url("../img/header/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-search input::placeholder {
	color: #ffffff;	
}

.header-search input:hover {
	cursor: pointer;

	background-color: #212a3a;

	background-image: url("../img/header/icon-search-hover.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-search input:focus {
	cursor: text;

	background-color: #ffffff;
	color: #333333;

	background-image: url("../img/header/icon-search-active.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-search input:focus::placeholder {
	color: #7f7f7f;		
}

/* header-bookmarks */

.header-bookmarks {
	width: 150px;
}

.header-bookmarks a {
	display: block;
	padding: 12px 0px 12px 44px;

	font-family: "Cuprum", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;

	color: #ffffff;

	background-image: url("../img/header/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;

	transition-property: background-color, background-image;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-bookmarks a:hover,
.header-bookmarks a:focus {
	background-color: #212a3a;

	background-image: url("../img/header/icon-bookmark-hover.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-bookmarks a:active {
	background-color: #161d29;

	background-image: url("../img/header/icon-bookmark-active.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-bookmarks a:active span {
	opacity: 0.6;
}

/* header-cart */

.header-cart {
	width: 150px;
}

.header-cart a {
	display: block;
	padding: 12px 0px 12px 50px;

	font-family: "Cuprum", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;

	color: #ffffff;

	background-image: url("../img/header/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;

	transition-property: background-color, background-image;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-cart a:hover,
.header-cart a:focus {
	background-color: #212a3a;

	background-image: url("../img/header/icon-cart-hover.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-cart a:active {
	background-color: #161d29;

	background-image: url("../img/header/icon-cart-active.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-cart a:active span {
	opacity: 0.6;
}

/* header-btn */

.header-btn {
	width: 150px;
}

.header-btn a {
	display: block;
	padding: 12px 22px 12px 20px;

	font-family: "Cuprum", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;

	color: #ffffff;
	background-color: #63a63e;

	transition-property: background-color, background-image;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-btn a:hover,
.header-btn a:focus {
	background-color: #5fbb2d;
}

.header-btn a:active {
	background-color: #518534;
}

.header-btn a:active span {
	opacity: 0.51;
}

/* ========== header-center-flex ========== */

.header-center-flex {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	margin-bottom: 40px;
}

/* header-description */

.header-description {
	margin: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 700;

	color: #ee3643;
}

/* header-contacts */

.header-contacts {
	text-align: center;
	margin-left: 71px;
}

.header-phone {
	margin: 0;
	margin-bottom: 3px;
	padding: 8px 42px 8px 69px;
	
	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;

	color: #ee3643;
	background-color: #f4f7f9;

	border: 3px solid #ffffff;

	background-image: url("../img/header/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 13px 9px;
}

.header-adress {
	margin: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	font-style: normal;

	color: #32425c;
}

/* header-input */

.header-input {
	margin: 0;
	margin-left: 69px;

	font-size: 0;
}

.header-btn-login {
	display: inline-block;
	padding: 12px 27px 12px 48px;

	text-align: center;

	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;

	color: #000000;
	background-color: #ffffff;

	background-image: url("../img/header/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 14px 14px;

	transition-property: color, background-image;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-btn-login:hover,
.header-btn-login:focus {
	color: #ee3643;

	background-image: url("../img/header/icon-login-hover.svg");
	background-repeat: no-repeat;
	background-position: 14px 14px;
}

.header-btn-login:active {
	background-image: url("../img/header/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 14px 14px;
}

.header-btn-login span {
	transition-property: color, opacity;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-btn-login:active span {
	color: #000000;
	opacity: 0.3;
}

.header-btn-registration {
	display: inline-block;
	padding: 12px 24px;

	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;

	color: #000000;
	background-color: #ffffff;

	transition-property: color, background-image;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-btn-registration:hover,
.header-btn-registration:focus {
	color: #ee3643;
}

.header-btn-registration span {
	transition-property: color, opacity;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-btn-registration:active span {
	color: #000000;
	opacity: 0.3;
}

.header-btn-registration {
	margin-left: 10px;
}

/* ========== header-bottom-flex ========== */

.header-bottom-background {
	padding-bottom: 60px;
}

.header-bottom-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: 0;
	padding: 0;

	background-color: #32425c;
	box-shadow: 0 5px 0 0 #293449;

	list-style: none;
}

.header-bottom-flex li {
	flex-grow: 1;
}

.header-bottom-flex a {
	display: block;
	padding: 24px 31px 19px 31px;

	font-size: 17px;
	line-height: 17px;
	font-weight: 400;

	color: #ffffff;
	text-align: center;

	transition-property: color, background-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-bottom-flex a:hover,
.header-bottom-flex a:focus {
	background-color: #293449;
}

.header-bottom-flex a:active {
	background-color: #1d2739;
	box-shadow: 0 5px 0 0 #1d2739;
}

.header-bottom-flex a:active span {
	color: #ffffff;
	opacity: 0.5;

	transition-property: opacity;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}










/* Index-Page ================================== */

/* Goods ================================== */

.goods-inner {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.goods-item {
	width: 300px;
	padding: 23px 0;
	margin-right: 20px;
	margin-bottom: 20px;
}

.goods-item:nth-child(3n) {
	margin-right: 0;
}

.item-1 {
	background-color: #ffbf47; 

	background-image: 
		url("../img/goods/icon-1.svg"),
		url("../img/goods/new.png");
	background-repeat: no-repeat, no-repeat;
	background-position: 213px 31px, right top;
}

.item-2 {
	background-color: #3bbce3; 

	background-image: url("../img/goods/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 33px;
}

.item-3 {
	background-color: #dc91d8; 

	background-image: url("../img/goods/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.goods-item h3 {
	max-width: 180px;
	margin: 0;
	margin-left: 23px;
	margin-bottom: 13px;

	font-family: "Cuprum", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #ffffff;
}

.goods-btn {
	display: inline-block;

	width: 125px;
	margin-left: 25px;
	padding: 5px 5px;
	text-align: center;

	border-radius: 3px;

	background-color: rgba(0, 0, 0, 0.1);

	transition-property: background-color;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}

.goods-btn:hover,
.goods-btn:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.goods-btn:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.goods-btn span {
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	color: #ffffff;
}

/* Sliders-and-Goods ================================== */

.sliders-and-goods {
	position: relative;

	margin-bottom: 53px;

	display: flex;
	justify-content: space-between;
}

.sliders-and-goods input[type="radio"] {
	display: none;
}

.inner {
	width: 620px;
}

.sliders-controls-arrow label[for="btn-3"] button {
	content: "";
	display: block;
	
	position: absolute;
	top: 50%;
	left: 25px;
	z-index: 1;

	border: 0;
	background-color: transparent;
	transform: translate(0, -50%);

	width: 22px;
	height: 40px;

	background: 
	transparent url("../img/sliders/icon-left.svg") no-repeat 0 0;
}

.sliders-controls-arrow label[for="btn-4"] button {
	content: "";
	display: block;
	
	position: absolute;
	top: 50%;
	right: 340px;
	z-index: 1;

	border: 0;
	transform: translate(0, -50%);

	width: 22px;
	height: 40px;

	background: 
	transparent url("../img/sliders/icon-right.svg") no-repeat 0 0;
}

#btn-3:checked ~ .sliders-inner .sliders {
	transform: translateX(0);
}

#btn-4:checked ~ .sliders-inner .sliders {
	transform: translateX(-620px);
}

.sliders-inner {
	overflow: hidden;
}

.sliders {
	width: 200%;
	margin: 0;
	padding: 0;

	list-style: none;
	transition: transform 0.7s ease;
}

.sliders .slider-item {
	float: left;
	width: 620px;
	height: 266px;
}

.sliders img {
	position: absolute;
	z-index: -1;
}

.sliders-controls {
	position: absolute;
	left: 305px;
	bottom: 36px;
	z-index: 100;

	width: 30px;
	height: 10px;

	text-align: center;
	font-size: 0;

	transform: translateX(-32%);
}

.sliders-controls label {
	position: relative;

	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;

	border-radius: 50%;

	cursor: pointer;
	background-color: #ffffff;
}

.sliders-controls label:last-child {
	margin-right: 0px;
}

.sliders-controls label::after {
	content: "";

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;

	width: 6px;
	height: 6px;
	margin: -3px;

	background-color: #ee3643;
	border-radius: 50%;

	display: none;
}

#btn-1:checked ~ .sliders-controls label[for="btn-1"]::after,
#btn-2:checked ~ .sliders-controls label[for="btn-2"]::after {
	display: block;
}

#btn-1:checked ~ .sliders-inner .sliders {
	transform: translateX(0);
}

#btn-2:checked ~ .sliders-inner .sliders {
	transform: translateX(-620px);
}

.slider-item h3 {
	margin: 0;
	margin-bottom: 3px;
	padding-left: 24px;
	padding-top: 27px;

	font-family: "Cuprum", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;

	color: #ffffff;
}

.slider-item p {
	margin: 0;
	margin-bottom: 115px;
	padding-left: 25px;

	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;

	color: #ffffff;
}

.slider-item:first-child p {
	font-family: "PT Sans", sans-serif;
}

.goods-2 {
	margin: 0;
	padding: 0;

	list-style: none;
}

.goods-item-2 {
	width: 300px;
	padding: 23px 0;

	margin-bottom: 20px;
}

.goods-item-2:last-child {
	margin-bottom: 0;
}

.goods-item-2 h3 {
	max-width: 175px;
	margin: 0;
	margin-left: 23px;
	margin-bottom: 13px;

	font-family: "Cuprum", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #ffffff;
}

.item-4 {
	background-color: #8ed78f; 

	background-image: url("../img/goods/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 26px;
}

.item-5 {
	background-color: #ffc047; 

	background-image: url("../img/goods/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 32px;
}

/* Popular ================================== */

/* ========== popular-header ========== */

.popular-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 25px 0;
	margin-bottom: 20px;

	background-color: #f9f5f0;
}

.popular-header-title {
	margin: 0;
	margin-left: 30px;
	max-width: 60%;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;

	color: #32425c;
}

/* ========== popular-cotalog ========== */

.popular-cotalog {
	display: flex;
	flex-wrap: wrap;

	text-align: center;

	margin: 0;
	padding: 0;

	list-style: none;
}

.popular-item {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 218px;

	margin-right: 20px;
	margin-bottom: 20px;

	border: 1px solid #eaeaea;

	transition-property: box-shadow;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.popular-item:nth-child(4) {
	background-image: url("../img/goods/new.png");
	background-repeat: no-repeat;
	background-position: top right;
}

.popular-item:nth-child(4n) {
	margin-right: 0;
}

.popular-item:hover,
.popular-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

/* ========== popular-img ========== */

.popular-img {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 218px;
	height: 175px;
}

.popular-images {
	opacity: 1;

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.popular-item:hover .popular-images {
	opacity: 0;
}

/* ========== popular-content ========== */

.popular-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: auto;
}

.popular-title {
	padding: 0 30px;
	margin: 0;

	margin-bottom: 13px;

	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;

	color: #000000;
}

.popular-price-old {	
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;

	text-transform: uppercase;
	text-decoration: line-through;

	color: #a9a9a9;

	cursor: default;
}

.popular-price-bottom {
	display: flex;
	justify-content: center;
	margin-top: 12px;
	margin-bottom: 20px;
}

.popular-price {
	display: block;

	width: 105px;

	padding: 9px 0;
	margin-right: 10px;

	font-size: 17px;
	line-height: 18px;
	font-weight: 700;

	text-transform: uppercase;
	text-align: center;

	border-radius: 1px;

	color: #ffffff;
	background-color: #ee3643;

	cursor: default;
}

.popular-price::before {
	content: "";

	position: absolute;
	bottom: 20px;
	right: 44px;
	z-index: 1;

	border: 18px solid #ee3643;
	border-right-width: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/* ========== popular-purchase ========== */

.popular-purchase {
	opacity: 0;

	position: absolute;
	top: 45px;
	left: 50%;
	z-index: 10;

	transform: translate(-50%, 0);

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.popular-buy {
	display: inline-block;	
	margin-bottom: 7px;
	padding: 13px 45px 13px 49px;

	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	border-radius: 3px;

	color: #ffffff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;

	background-image: url("../img/popular/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 12px 13px;

	transition-property: background-color, background-image;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.popular-buy:hover,
.popular-buy:focus {
	background-color: #5fbb2d;
	background-image: url("../img/popular/icon-cart-hover.svg");
}

.popular-buy:active {
	background-color: #518534;
}

.popular-in-bookmarks {
	display: inline-block;
	padding: 13px 32px 13px 36px;

	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	border-radius: 3px;

	color: #32425c;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 3px #63a63e;

	transition-property: box-shadow, opacity;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.popular-in-bookmarks:hover,
.popular-in-bookmarks:focus {
	box-shadow: inset 0 0 0 3px #32425c;
}

.popular-in-bookmarks:active {
	opacity: 0.3;
}

.popular-item:hover .popular-purchase {
	display: flex;
	flex-direction: column; 

	opacity: 1;
}

/* Manufacturer ================================== */

.manufacturer {
	margin-bottom: 67px;
}

.manufacturer-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 25px 0;
	margin-bottom: 20px;

	background-color: #f9f5f0;
}

.manufacturer-header-title {
	margin: 0;
	margin-left: 30px;
	max-width: 60%;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;

	color: #32425c;
}

.manufacturer-inner {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.manufacturer-item {
	width: 218px;
	height: 143px;
	margin-right: 20px;
	margin-bottom: 18px;

	border: 1px solid #eaeaea;
	background-color: #ffffff;

	text-align: center;

	transition-property: box-shadow;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.manufacturer-item:nth-child(4n) {
	margin-right: 0;
}

.manufacturer-area {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 220px;
	height: 145px;
}

.manufacturer-item:hover,
.manufacturer-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer-item img {
	transition-property: opacity;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}

.manufacturer-item:active img {
	opacity: 0.3;
}

/* Services ================================== */

.services {
	margin-bottom: 75px;
	background-color: #f4f8f9;
}

.services-title {
	margin: 0;
	margin-bottom: 30px;
	padding-top: 64px;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;

	color: #000000;
	text-transform: uppercase;
}

.services-text {
	margin: 0;
	margin-bottom: 70px;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;

	color: #000000;
}

.services-inner {
	display: flex;
	justify-content: space-between;
}

.services input[type="radio"] {
	display: none;
}

.services-sliders-controls {
	display: flex;
	flex-direction: column;

	position: relative;
	width: 250px;
	margin-bottom: 102px;
}

.services-sliders-controls label {
	padding: 15px 0 15px 23px;
	text-align: left;

	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	box-shadow: inset 0 -1px 0 #4d637b;
	background-color: #32425c;
	color: #ffffff;

	border: none;
	cursor: pointer;

	transition-property: background-color;
	transition-duration: 0.08s;
	transition-timing-function: linear;
}

.services-sliders-controls label:last-child {
	box-shadow: none;
}

.services-sliders-controls label::after {
	content: "";

	width: 10px;
	height: 272px;
	
	position: absolute;
	top: -45px;
	right: 0;

	background-image: url("../img/services/shadow.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-sliders-controls label:hover,
.services-sliders-controls label:focus {
	background-color: #293449;
}

#button-1:checked ~ .services-sliders-controls label[for="button-1"],
#button-2:checked ~ .services-sliders-controls label[for="button-2"],
#button-3:checked ~ .services-sliders-controls label[for="button-3"] {
	color: #32425c;
	background-color: #ffffff;
	cursor: default;
}

.services-content {
	width: 620px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.services-item {
	position: relative;
	z-index: 10;

	width: 620px;
	display: none;
}

.services-item::after {
	content: "";
	display: none;

	position: absolute;
	top: 20px;
	right: 0;
	z-index: -1;

	width: 468px;
	height: 261px;

	background: url("../img/services/services-1.png") no-repeat 0 0;
}

.services-item:nth-child(2)::after {
	content: "";
	display: none;

	position: absolute;
	top: -1px;
	right: 0;
	z-index: -1;

	width: 389px;
	height: 283px;

	background: url("../img/services/services-2.png") no-repeat 0 0;
}

.services-item:nth-child(3)::after {
	content: "";
	display: none;

	position: absolute;
	top: -5px;
	right: 0;
	z-index: -1;

	width: 465px;
	height: 285px;

	background: url("../img/services/services-3.png") no-repeat 0 0;
}

#button-1:checked ~ .services-content .services-item:nth-child(1),
#button-1:checked ~ .services-content .services-item::after {
	display: block;
}

#button-2:checked ~ .services-content .services-item:nth-child(2),
#button-2:checked ~ .services-content .services-item:nth-child(2)::after {
	display: block;
}

#button-3:checked ~ .services-content .services-item:nth-child(3),
#button-3:checked ~ .services-content .services-item:nth-child(3)::after {
	display: block;
}

.services-content-title {
	margin: 0;
	margin-bottom: 28px;

	font-family: "Cuprum", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;

	color: #32425c;
	text-transform: uppercase;
}

.services-content-text {
	width: 395px;
	margin: 0;
	margin-bottom: 30px;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;

	color: #000000;
}

/* Index-Columns ================================== */

.index-columns {
	display: flex;
	justify-content: space-between;

	margin-bottom: 85px;
}

/* Company ================================== */

.company {
	width: 540px;
}

.company-title {
	margin-top: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.company-text {
	margin-bottom: 30px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}

.company-text:last-of-type {
	margin-bottom: 20px;
}

.company-advantage {
	margin: 0;
	padding: 0;

	list-style: none;
}

.company-advantage-item {
	position: relative;
	margin-bottom: 20px;
	padding-left: 36px;

	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}

.company-advantage-item:last-child {
	margin-bottom: 35px;
}

.company-advantage-item::before {
	content: "";
	display: block;

	position: absolute;
	top: 50%;
	left: 0;

	transform: translate(0, -50%);

	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

/* Contacts ================================== */

.contacts {
	width: 300px;
}

.contacts-title {
	margin-top: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.contacts-text {
	margin-bottom: 35px;

	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}

.map-img {
	margin-bottom: 30px;
	
	width: 300px;
	height: 158px;
}









/* Catalog-Page ================================== */

/* Header ================================== */

.completed a {
	background-color: #ee3643;

	background-image: url("../img/header/icon-cart-completed.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.completed a:hover,
.completed a:focus {
	background-color: #ca2c37;

	background-image: url("../img/header/icon-cart-hover.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.completed a:active {
	background-color: #ba2732;

	background-image: url("../img/header/icon-cart-active.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.completed a:active span {
	opacity: 0.6;
}

.header-profile {
	margin-left: 50px;
}

.header-profile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.header-user {
	margin: 0;
	margin-bottom: 9px;
	font-size: 0;
}

.header-btn-user {
	display: inline-block;
	padding: 10px 69px 10px 48px;

	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;

	color: #000000;
	background-color: #ffffff;

	background-image: 
	url("../img/header/icon-user.svg"),
	url("../img/header/icon-logout.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: 12px 12px, 268px 12px;

	transition-property: background-image;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-btn-user:hover,
.header-btn-user:focus {
	background-image: 
	url("../img/header/icon-user-h-and-a.svg"),
	url("../img/header/icon-logout-h-and-a.svg");
}

.header-btn-user:active {
	background-image: 
	url("../img/header/icon-user.svg"),
	url("../img/header/icon-logout.svg");
}

.header-btn-user span { 
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.header-btn-user:active span {
	opacity: 0.3;
}

.header-option {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	margin-left: 18px;

	list-style: none;
	font-size: 0;
}

.header-option-item {
	position: relative;

	padding-right: 32px;
}

.header-option-item:not(:last-child)::after {
	content: "";
	display: block;

	position: absolute;
	top: 7px;
	right: 14px;

	width: 5px;
	height: 5px;

	border-radius: 50%;
	background-color: #32425c;
}

.header-btn-orders {
	font-family: "Cuprum", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

	color: #32425c;
	text-decoration: underline;
}

.header-btn-orders:hover,
.header-btn-orders:focus {
	color: #ee3643;
}

.header-btn-orders:active {
	color: #32425c;
	opacity: 0.3;
}

.header-btn-account {
	font-family: "Cuprum", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

	color: #32425c;
	text-decoration: underline;
}

.header-btn-account:hover,
.header-btn-account:focus {
	color: #ee3643;
}

.header-btn-account:active {
	color: #32425c;
	opacity: 0.3;
}









/* Header-Cotalog ================================== */

.header-cotalog {
	width: 100%;
	margin-bottom: 23px;

	background-color: #f3f7f8;
}

/* Crumb ================================== */

.crumb-inner {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	margin-bottom: 22px;
	padding: 0;

	list-style: none;
}

.crumb .icon-home a { 
	display: block;

	width: 16px;
	height: 26px;

	background-image: url("../img/crumb/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 7px;
}

.crumb .icon-home a:hover,
.crumb .icon-home a:focus {
	background-image: url("../img/crumb/icon-home-hover.svg");
}

.crumb-item {
	position: relative;
	margin-right: 40px;
}

.crumb-item::after {
	content: "";
	display: block;

	position: absolute;
	top: 7px;
	right: -20px;

	width: 10px;
	height: 10px;

	box-shadow: 2px 2px 0 0 #dcdfe3;
	transform: rotate(-45deg);
	background-color: transparent;
}

.crumb-item:last-child::after {
	display: none;
}

.crumb-item a {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	color: #000000;
	text-transform: uppercase;
}

.crumb-item a:hover,
.crumb-item a:focus {
	text-decoration: underline;
}

.crumb-item a:active {
	opacity: 0.3;
	text-decoration: none;
}

/* Cotalog-Header ================================== */

.cotalog-header {
	margin-bottom: 20px;
	background-color: #f2f6f8;
}

.cotalog-title {
	margin: 0;
	margin-left: 30px;
	padding: 27px 0;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;

	color: #32425c;
	text-transform: uppercase;
}

/* Cotalog-Columns ================================== */

.cotalog-columns {
	display: flex;
	justify-content: space-between;
}

/* Catalog-Filters ================================== */

/* Filter ================================== */

.filters {
	width: 220px;	
}

.filter-header {
	margin-bottom: 16px;

	border-radius: 4px;
	background-color: #f7f3ec;
}

.filter {
	margin: 0;
	padding: 12px 0;
	padding-left: 18px;

	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	color: #000000;
	text-transform: uppercase;
}

.filter-price {
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	margin-bottom: 20px;

	border: none;
	border-bottom: 1px solid #e5e5e5;
	
}

.filter-title {
	margin-bottom: 17px;
	padding: 0;

	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;

	color: #000000;
	text-transform: uppercase;
}

.filter-range {
	position: relative;

	margin-bottom: 9px;
	padding: 39px 20px;

	border-radius: 0 0 4px 4px;
	background-color: #f7f3ec;
}

.filter-scale {
	width: 180px;
	height: 2px;

	background-color: #d7dcde;
}

.bar {
	width: 151px;
	height: 2px;

	background-color: #00ca74;
}

.scrolling {
	position: absolute;
	top: 30px;
	z-index: 1;

	width: 20px;
	height: 22px;

	background-image: url("../img/filter-price/filter-scrolling.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	cursor: pointer;
}

.scrolling-min {
	left: 20px;
}

.scrolling-max {
	right: 40px;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 0;
}

.price input {
	width: 95px;
	height: 38px;
	padding: 0 10px;

	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;

	color: #000000;
	background-color: #f7f3ec;
	text-transform: uppercase;
	text-align: center;

	border: none;
	border-radius: 4px;
	box-sizing: border-box;
}

.hyphen {
	width: 10px;
	height: 1px;
	
	background-color: #444444;
}

.filter-manufacturer {
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	margin-bottom: 20px;

	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.filter-manufacturer ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-manufacturer li {
	position: relative;

	margin-bottom: 17px;
}

.filter-manufacturer li:last-child {
	margin-bottom: 0;
}

.filter-manufacturer label { 
	padding-left: 35px;

	font-family: "PT Sans", sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;

	color: #000000;
	text-transform: uppercase;

	cursor: pointer;
}

.input-checkbox ~ label::before {
	content: "";
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 23px;
	height: 23px;

	background-image: 
		url("../img/filter-manufacturer/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	cursor: pointer;
}

.input-checkbox:checked ~ label::before {
	width: 27px;
	background-image: 
		url("../img/filter-manufacturer/checkbox-on.svg");
}

.input-checkbox ~ label:hover::before {
	background-image: 
		url("../img/filter-manufacturer/checkbox-off-hover.svg");
}

.input-checkbox:checked ~ label:hover::before {
	background-image: 
		url("../img/filter-manufacturer/checkbox-on-hover.svg");
}

.input-checkbox:disabled ~ label {
	opacity: 0.4;
	cursor: default;
}

.input-checkbox:disabled ~ label::before {
	opacity: 0.3;
	cursor: default;
}

/* ================================= 
		ДОДЕЛАТЬ :DISABLED 
===================================== */

.filter-power {
	margin: 0;
	padding: 0;
	margin-bottom: 75px;

	border: none;
}

.filter-power ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-power li {
	position: relative;

	margin-bottom: 17px;
}

.filter-power li:last-child {
	margin-bottom: 0;
}

.filter-power label { 
	padding-left: 35px;

	font-family: "PT Sans", sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;

	color: #000000;
	text-transform: uppercase;

	cursor: pointer;
}

.input-radio ~ label::before {
	content: "";
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 25px;
	height: 25px;

	background-image: 
		url("../img/filter-power/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	cursor: pointer;
}

.input-radio ~ label:hover::before {
	background-image: 
		url("../img/filter-power/radio-off-hover.svg");
}

.input-radio:checked ~ label::before {
	background-image: 
		url("../img/filter-power/radio-on.svg");
}

.input-radio:checked ~ label:hover::before {
	background-image: 
		url("../img/filter-power/radio-on-hover.svg");
}

.input-radio:disabled ~ label {
	opacity: 0.4;
	cursor: default;
}

.input-radio:disabled ~ label::before {
	opacity: 0.3;
	cursor: default;
}

/* Cotalog-Items ================================== */

.cotalog-items {
	width: 700px;
}

/* Sort ================================== */

.sort {
	display: flex;
	align-items: center;

	margin-bottom: 20px;
	border-radius: 4px;

	background-color: #f7f3ec;
}

.sort-title {
	margin: 0;
	margin-left: 19px;
	margin-right: 140px;
	padding: 12px 0;

	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	color: #000000;
	text-transform: uppercase;
}

.sort-inner {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.sort-inner li {
	margin-right: 68px;
}

.sort-inner li:last-child {
	margin-right: 45px;
}

.sort-inner a {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border-bottom: 1px dotted #ee3643;
}

.sort-inner a:hover,
.sort-inner a:focus {
	color: rgba(0, 0, 0, 1);
	border-bottom-style: solid;
}

.sort-inner .active a {
	color: #ee3643;
	border-bottom: none;
	cursor: default;
}

.sort-direction {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.sort-direction li {
	margin-right: 21px;
}

.sort-direction li:last-child {
	margin-right: 0;
}

.sort-direction a::before {
	display: inline-block;
	content: "";

	border: 10px solid #c5c5c5;
	border-left-width: 5px;
	border-right-width: 5px;
	border-left-color: transparent;
	border-right-color: transparent;
}

.sort-direction .arrow-up::before {
	border-top-width: 0;
}

.sort-direction .arrow-down::before {
	border-bottom-width: 0;
}

.sort-direction a:hover::before,
.sort-direction a:focus::before {
	border-color: #000000;
	border-left-color: transparent;
	border-right-color: transparent;
}

.sort-direction .active a::before {
	border-color: #ee3643;
	border-left-color: transparent;
	border-right-color: transparent;
	cursor: default;
}

.sort-direction .active .arrow-up {
 	cursor: default;
}

/* Cotalog ================================== */

.cotalog {
	margin-bottom: 32px;
}

.cotalog-item {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 218px;

	margin-right: 20px;
	margin-bottom: 20px;

	border: 1px solid #eaeaea;

	transition-property: box-shadow;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.cotalog-item:nth-child(3n) {
	margin-right: 0;
}

.cotalog-item:nth-child(3) {
	background-image: url("../img/goods/new.png");
	background-repeat: no-repeat;
	background-position: top right;
}

.cotalog-item:nth-child(5) {
	background-image: url("../img/goods/new.png");
	background-repeat: no-repeat;
	background-position: top right;
}

.cotalog-item:nth-child(7) {
	background-image: url("../img/goods/new.png");
	background-repeat: no-repeat;
	background-position: top right;
}

.cotalog-item:hover,
.cotalog-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.cotalog-item:hover .popular-images {
	opacity: 0;
}

.cotalog-item:hover .popular-purchase {
	display: flex;
	flex-direction: column; 

	opacity: 1;
}

/* Pagination-List ================================== */

.pagination-list {
	display: flex;

	margin: 0;
	margin-top: 32px;
	margin-bottom: 60px;
	padding: 0;

	list-style: none;
}

.pagination-list li {
	margin-right: 10px;
}

.pagination-list li:last-child {
	margin-right: 0;
}

.pagination-list a {
	display: inline-block;
	padding: 12px 17px;

	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	color: #000000;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	border-radius: 3px;

	transition-property: border-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.pagination-list .following a {
	padding: 12px 31px;
}

.pagination-list a:hover,
.pagination-list a:focus {
	border-color: #bdc6ca;
}

.pagination-list a:active {
	border-color: #ee3643;
}

.pagination-list .active a {
	color: #ffffff;
	background-color: #ee3643;
	border-color: #ee3643;
	cursor: default;
}

/* Information ================================== */

.information {
	padding-top: 63px;
	padding-bottom: 74px;
	background-color: #f2f6f8;
}

.information-title {
	margin: 0;
	margin-bottom: 30px;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;

	color: #000000;
	text-transform: uppercase;
}

.information-text {
	margin: 0;

	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;

	color: #000000;
}










/* Footer ================================== */

/* Footer-Top ================================== */

.footer-top {
	background-color: #32425c;
}

.footer-nav-navigation {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

/* ========== footer-item-top ========== */ 

.footer-item-top {
	margin-bottom: 30px;
}

.footer-logo {	
	width: 220px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.logo a {
	display: block;

	padding: 17px 0;

	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;

	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	box-shadow: inset 0 -5px 0 0 #b52933; 
	background-color: #ee3643;
	color: #ffffff;

	transition-property: box-shadow, background-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.logo a:hover,
.logo a:focus {
	box-shadow: inset 0 -5px 0 0 #9a212a; 
	background-color: #ca2c37;
}

.logo a:active {
	box-shadow: inset 0 -5px 0 0 #8e1e26; 
	background-color: #ba2732;
}

.footer-site-navigation {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	width: 550px;

	margin: 0;
	margin-bottom: 9px;
	padding: 0;

	list-style: none;
}

.footer-site-navigation li {
	margin-right: 60px;
}

.footer-site-navigation li:nth-child(5n) {
	margin-right: 0;
}

.footer-site-navigation a {
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 24px;

	font-weight: 400;
	

	color: #f3f7f9;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus { 
	border-bottom: 1px solid;
}

.footer-site-navigation a:active {
	opacity: 0.5;
	border-bottom: none;
}

/* ========== footer-item-bottom ========== */ 

.footer-item-bottom {
	display: flex; 
	justify-content: space-between;
	align-items: flex-start;

	padding-bottom: 50px;
}

.footer-address {
	margin: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;

	color: #f1f5f7;
	font-style: normal;
}

.footer-nav-navigation:nth-child(2) .footer-site-navigation a {
	color: #ffd180;
}

.footer-nav-navigation:nth-child(2) 
.footer-site-navigation li:nth-child(4n) {
	margin-right: 0;
}

/* Footer-Bottom ================================== */

.footer-bottom {
	padding: 35px 0 31px;

	background-color: #293449;
}

.footer-inner {
	display: flex;
}

/* ========== footer-left ========== */

.footer-left {
	margin-right: 162px;
}

.footer-company {
	width: 230px;

	margin: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

	color: #ffffff;
}

/* ========== footer-center ========== */

.footer-center {
	width: 131px;
	margin-right: 120px;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-social a {
	margin-bottom: 10px;
}

.footer-social a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 41px;
	height: 42px;

	border-radius: 50%;
	
	background-color: #212a3a;

	transition-property: background-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.footer-social a:hover,
.footer-social a:focus {
	background-color: #ee3643;
}

.footer-social a:acrive {
	background-color: #ee3643;
}

/* ========== footer-righ ========== */

.footer-right {
	width: 290px;
	display: flex;
	justify-content: space-between;
}

.footer-mail {
	margin: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

	color: #ffffff;
}

.footer-mail a {
	color: #ffd180;
}

.footer-mail a:hover,
.footer-mail a:focus {
	border-bottom: 1px solid;
}

.footer-mail a:active {
	color: #ee3643;
	border-bottom: none;
}

.footer-copyright {
	margin: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

	color: #ffffff;
}

.footer-copyright a {
	color: #ffd180;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
	border-bottom: 1px solid;
}

.footer-copyright a:active {
	color: #ee3643;
	border-bottom: none;
}